.info-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    height: 300px;
    background-color: #ffffff;
    color: #1d1d1b;
    margin-bottom: 100vh;
    align-items: center;
    
}

.info {
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 50px;
}

.info-container p {
    font-size: 18px;
}

.info-tickets {
    padding: 2%;
    margin: 2%;
    box-shadow: -5px 9px 8px -4px rgba(0,0,0,0.25);
}

.tiket {
    flex-wrap: wrap;
    margin-top: 5px;

}

.tiket-input {
    margin: 4px;
    color:#1d1d1b;
}

.tiket-bttn {
    background-color: #b06436;
    color:white;
    width: 100px;
    height: 35px; 
    border:none;
    border-radius: 25px; 
    margin-top: 10%;
    cursor: pointer;
}

.tiket-bttn:hover{
    background-color:rgb(166, 168, 166);
    transition-duration: 0.5s;
}

@media only screen and (max-width: 960px) {
    .info-container {
        height: 380px;
        width: 100%;
    }

    .info > h1 {
        text-align: center;
        font-size: 20px;
    }

    .info h3 {
        text-align: center;
        font-size: 18px;
    }

    .info-container p {
        font-size: 12px;
    }

    .skills{
        flex-wrap: wrap;
    }
}