.info-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    background-color: #ffffff;
    color: #1d1d1b;
    margin-bottom: 100vh;
    align-items: center;
    
}

.info {
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 50px;
}

.info-container p {
    font-size: 18px;
}

.info-tickets {
    padding: 2%;
    margin: 2%;
    box-shadow: -5px 9px 8px -4px rgba(0,0,0,0.25);
}

.tiket {
    flex-wrap: wrap;
    margin-top: 5px;

}

.tiket-input {
    margin: 4px;
    color:#1d1d1b;
}

.tiket-bttn {
    background-color: #b06436;
    color:white;
    width: 100px;
    height: 35px; 
    border:none;
    border-radius: 25px; 
    margin-top: 10%;
    cursor: pointer;
}

.tiket-bttn:hover{
    background-color:rgb(166, 168, 166);
    transition-duration: 0.5s;
}

@media only screen and (max-width: 960px) {
    .info-container {
        height: 100%;
        width: 100%;
        
    }

    .info > h1 {
        text-align: center;
        font-size: 20px;
    }

    .info h3 {
        text-align: center;
        font-size: 18px;
    }

    .info-container p {
        font-size: 12px;
    }

    .skills{
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 960px) {
    .info-container {
        display: grid; 
        grid-auto-rows: 1fr; 
        grid-template-columns: 1fr; 
        gap: 0px 0px; 
        justify-content: center; 
        align-content: center; 
        justify-items: center; 
        align-items: center; 
        
    }
}

@media only screen 
    and (min-device-width : 375px) 
    and (max-device-width : 667px) 
    and (width : 667px) 
    and (height : 375px) 
    and (orientation : landscape) 
    and (color : 8)
    and (device-aspect-ratio : 375/667)
    and (aspect-ratio : 667/375)
    and (device-pixel-ratio : 2)
    and (-webkit-min-device-pixel-ratio : 2)
{
    .info-container {
        display: grid; 
        grid-auto-rows: 1fr; 
        grid-template-columns: 1fr; 
        gap: 0px 0px; 
        justify-content: center; 
        align-content: center; 
        justify-items: center; 
        align-items: center; 
    }
 }


@media only screen 
    and (min-device-width : 375px) 
    and (max-device-width : 667px) 
    and (width : 375px) 
    and (height : 559px) 
    and (orientation : portrait) 
    and (color : 8)
    and (device-aspect-ratio : 375/667)
    and (aspect-ratio : 375/559)
    and (device-pixel-ratio : 2)
    and (-webkit-min-device-pixel-ratio : 2)
{
    .info-container {
        display: grid; 
  grid-auto-rows: 1fr; 
  grid-template-columns: 1fr; 
  gap: 0px 0px; 
  justify-content: center; 
  align-content: center; 
  justify-items: center; 
  align-items: center; 
    }
 }


