.footer {
    width: 100%;
    height: 100vh;
    background-color: #1d1d1b;
    color: #ffffff;
    padding-top: 180px;
    position: fixed;
    z-index: -2;
    bottom: 0;
    left: 0;
}

.footer-contact {
    font-size: 22px;
    padding: 100px 0 30px 50px;
    width: 70%;
    margin: 0 auto;
}

.footer-sns {
    width: 70%;
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

.sns-links {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
}

.instagram, .whatsapp {
    color: #ffffff;
    font-size: 35px;
    margin: 0 auto;
    padding-bottom: 10px;
    border-bottom: 4px solid transparent;
}

.instagram:hover, .whatsapp:hover {
    border-color: #b06436;
    transition: all 0.3s ease-out;
}

.desing-by {
    font-size: 18px;
    padding-left: 50px;
    margin: 8px;
    color: #b06436;
}

@media only screen and (max-width: 960px) {

    .footer-contact {
        font-size: 16px;
        padding: 100px 0 30px 0;
        text-align: center;
    }

    .footer-sns {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .desing-by {
        padding: 0 0 40px 0;
    }
}