.cover-container {
    height: 100vh;
    width: 100%;
    object-fit: contain;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img {
    object-fit: cover;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
}

.cover-container > h1 {
    color: #ffffff;
    font-size: 100px;
}

.cover-container > p {
    margin-top: 8px;
    color: #ffffff;
    font-size: 32px;
}
.cover-tiket-scroll {
    height: 60px;
    line-height: 320px;
    color: #b06436;
    cursor: pointer;
    font-size: 25px;
}

@media screen and (max-width: 960px) {
    .cover-container > h1 {
        font-size: 70px;
        text-align: center;
    }

    .cover-container > p {
        text-align: center;
        font-size: 22px;
        width: 85%;
    }
}

@media screen and (max-width: 660px) {
    .img {
        width: 100%;
        object-fit: fill;
    }

    .cover-tiket-scroll {
        line-height: 280px;
        font-size: 20px;
    }
}

@media only screen 
    and (min-device-width : 375px) 
    and (max-device-width : 667px) 
    and (width : 667px) 
    and (height : 375px) 
    and (orientation : landscape) 
    and (color : 8)
    and (device-aspect-ratio : 375/667)
    and (aspect-ratio : 667/375)
    and (device-pixel-ratio : 2)
    and (-webkit-min-device-pixel-ratio : 2)
{ 
    .img {
        width: 500px;
        object-fit: fill;
    }

    .cover-tiket-scroll {
        line-height: 280px;
        font-size: 20px;
    }
}


@media only screen 
    and (min-device-width : 375px) 
    and (max-device-width : 667px) 
    and (width : 375px) 
    and (height : 559px) 
    and (orientation : portrait) 
    and (color : 8)
    and (device-aspect-ratio : 375/667)
    and (aspect-ratio : 375/559)
    and (device-pixel-ratio : 2)
    and (-webkit-min-device-pixel-ratio : 2)
{ 
    .img {
        width: 500px;
        object-fit: fill;
    }

    .cover-tiket-scroll {
        line-height: 280px;
        font-size: 20px;
    }
}